@charset "utf-8";

body{
    font-family: verdana;
    background-color: #b7b6c1;
    scroll-behavior: smooth;
    overflow-x:auto;
     
}

ul.navBar li.tabArrange button.active:after {
    content: "";
    height: 5px;
    background-color: white;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    transition: all 0.5s;
}

ul.navBar li.tabArrange button#active:hover:after {
    left: 25%;
    width: 50%;
}

div#mainDiv{
    margin-left: 10px;
    margin-right:10px;
}

ul.navBar {
    padding: 0;
    display: flex;
    transition: all 0.8s;
}
  
li.tabArrange {
    list-style-type: none;
    padding: 10px 20px;
    text-align: center;
    text-wrap:nowrap;
}

button.tabLinks {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color:white;
    border:none;
    background-color: #464655;
    position: relative;
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --hover-width: 50%;
    --hover-left: 25%;
    --selection-width: 0;
    --selection-left : 50%;
}
 

ul.navBar li.tabArrange button.tabLinks:before {
    content: "";
    width: var(--selection-width);
    height: 5px;
    background-color: white;
    position: absolute;
    top: 120%;
    left: var(--selection-left);
    transition: all 0.5s;
}

ul.navBar li.tabArrange button.tabLinks:hover:before {
    left: var(--hover-left);
    width: var(--hover-width);
}

h1.hArrange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #94958b;
    border-radius: 16px;
    padding: 1vh 0vh 1vh 0vh;
}

div.divArrange {
    display: flex;
    justify-content: center;
}


div.divStyle{
    font-size: 24px;
    background-color: #464655;
    border-radius:16px;
}

li.tabArrange {
    padding: 0vw 5vh 0vw 5vh;
    text-align: center;    
}

