@charset "utf-8";

body{
    font-family: verdana;
    background-color: rgba(228, 197, 158, 0.75);
    scroll-behavior: smooth;
    overflow-x:auto;
     
}

ul.navBar li.tabArrange a#active:after {
    content: "";
    height: 5px;
    background-color:black;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
}

div#mainDiv{
    margin-left: 10px;
    margin-right:10px;
}

ul.navBar {
    padding: 0;
    display: flex;
    transition: all 0.8s;
}
  
li.tabArrange {
    list-style-type: none;
    padding: 10px 20px;
    text-align: center;
    text-wrap:nowrap;
}

a.tabLinks:link, a.tabLinks:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    position: relative;
}


ul.navBar li.tabArrange a.tabLinks:before {
    content: "";
    width: 0;
    height: 5px;
    background-color:black;
    position: absolute;
    top: 120%;
    left: 50%;
    transition: all 0.5s;
}

ul.navBar li.tabArrange a.tabLinks:hover:before {
    left: 0;
    width: 100%;
}

h1.hArrange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(175, 130, 96, 0.8);
    border-radius: 16px;
    padding: 1vh 0vh 1vh 0vh;
}

div.divArrange {
    display: flex;
    justify-content: center;
}


div.divStyle{
    font-size: 24px;
    background-color: rgba(128, 61, 59, 0.55);
    border-radius:16px;
}

li.tabArrange {
    padding: 0vw 5vh 0vw 5vh;
    text-align: center;    
}

