@charset "utf-8";

ul#sideNav {
    list-style-type: none;
    display: contents;
}


div#sidePlaceholder {
    margin-right: 70vw;
    background-color: none;
    margin-top:45px;
    border-radius: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 80vh;
    overflow: scroll;
    scroll-behavior:smooth visible;
}

div#sidePlaceholder::-webkit-scrollbar {
    display: none;
}

li.navSideItem{
    font-size:24px;
    text-align: center;
    text-wrap: nowrap;
    margin-right: 23vw;
}

button.sideNavLinks {
    text-decoration: none;
    color: #DDE8E8;
    background-color:#464655;
    border: none;
    padding-left: 20%;
    padding-right: 20%;
    padding-top:-100%;
    padding-bottom:-100%;
    margin-top:2%;
    margin-bottom:2%;
    font-size: 24px;
    border-radius: 20px;
    transition: all 0.5s;
}


button.sideNavLinks:hover h4.parInher {
    transform: scale(1.15);
    color: lightsteelblue;
    transition: all 0.5s;
}

button.sideNavLinks:hover {
    transition: all 0.5s;
}

h4.parInher {
    padding-bottom:none;
    padding-top: none;
    transition: all 0.5s;
}